body {
  background-image: url('img/background.png');
  background-color: #cccccc;
  font-family: 'Merriweather', serif;
  font-size: 12px;
  position: relative;
  overflow-y: scroll;
}

h1 {
  color: #1793d1;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.list-group-item.active {
  background-color: #1793d1;
  border-color: #1793d1;
}

code {
  font-weight: 100% !important;
}

.code {
  display: table;
  padding: .5rem 1rem !important;
  padding: .5rem 1rem !important;
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
  border: 1px solid #343a40;
  border-radius: .25rem !important;
  background-color: #f8f9fa;
  white-space: pre-line;
}

.chapter {
  margin-bottom: 50px;
}

.chapter-intro {
  margin-top: -8px;
}

.paragraph, .subparagraph {
  margin: 20px 0 20px 20px;
}

.paragraph > h3, .subparagraph > h5 {
  margin-left: -20px !important;
}
