[user]
    name = Mauro Dattilo
    email = mau.dattilo@gmail.com
	signingkey = 6E00E50857D963B9

[color]
    diff = auto
    status = auto
    branch = auto
    ui = true

[core]
    excludesfile = ~/.gitignore

[push]
    default = simple

[commit]
	gpgsign = true
